body{
    background-color: blueviolet;
}
.verify {
    background-color:aquamarine; 
    text-align: center;
    width:500px;
    box-shadow: 0 0 10px blue;
    margin:100px auto;
    padding:30px;
}
label {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}
input[type=email]{
    font-size: 20px;
    background-color: transparent;
}
button {
    font-size: 20px;
    margin-left: 40px;
    background-color: bisque;
}